:host{
    max-width: 1440px;
    display: block;
    margin: auto;
    >div{
        display: flex;
    }
    padding: 25px 50px 20px;
}
.body{
    background: linear-gradient(to bottom, #000000, #1a0d0d, #331a1a, #4d2626, #664040);
}