<div class="main">
  <div class="home">
    <!-- <div class="video"></div> -->
    <div id="large-header" class="large-header video">
      <canvas id="demo-canvas"></canvas>
    </div>
    <div class="container">
        <div class="left">
            <div class="splash">
              <h1>Music Store</h1>
              <p class="intro">The best destination to buy new records to competitive prices. 24 hour support, "best price" guarantee and a flawless UX. Wish for more? Tell us <span class="here">below</span> — or check out our <span class="careers">careers.</span></p>
            </div>

            <div class="buttons">
                  <app-pr-cta-button [text]="'Browse'"  [svgName]="'notfound'"></app-pr-cta-button>
                  <app-pr-cta-button [text]="'Play Dice'"  [svgName]="'notfound'"></app-pr-cta-button>
                  <app-pr-cta-button [text]="'GitHub'"  [svgName]="'notfound'"></app-pr-cta-button>
                  <app-pr-cta-button [text]="'LinkedIn'"  [svgName]="'notfound'"></app-pr-cta-button>
            </div>
        </div>
        <app-gr-navigation></app-gr-navigation>
    </div>
  </div>
</div>