<div class="right">
    <div class="buttonsRight">
        <h2 class="title">Quick Navigation</h2>
        <app-pr-cta-button [text]="'Record Page'"  [svgName]="'notfound'"></app-pr-cta-button>
        <app-pr-cta-button [text]="'404 Page'"  [svgName]="'notfound'"></app-pr-cta-button>
        <app-pr-cta-button [text]="'Instagram'"  [svgName]="'instagram'"></app-pr-cta-button>
        <app-pr-cta-button [text]="'Telegram'"  [svgName]="'telegram'"></app-pr-cta-button>
        <app-pr-cta-button [text]="'Placeholder'"  [svgName]="'notfoundquery'"></app-pr-cta-button>
    </div>
</div>
