:host{
    width: 100%;
    
    >.wrapper{
        >h2{
            font-family: GT Bold;
            font-size: 50px;
            color: white;
        }
        >.cards-grid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            column-gap: 20px;
            row-gap: 20px;
            >div{
                opacity: 0;
                animation: cardAppeareance 0.6s ease-in forwards;
            }
        }
    }
}
@keyframes cardAppeareance {
    0% {
      opacity: 0;
      transform: translateY(40%);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }