:host{
    width: 100%;
    >.wrapper{
        >h2{
            font-family: GT Bold;
            font-size: 50px;
            color: white;
        }
        >.cards-grid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            column-gap: 20px;
            row-gap: 20px;
        }
    }
}