<header class="header">
    <div class="left-side"> 
        <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">
            <app-pr-ghost-button [text]="'Music Store'" [svgName]="'record'"></app-pr-ghost-button>
        </a>
        <a routerLink="/store-page" routerLinkActive="active" ariaCurrentWhenActive="page">
            <app-pr-ghost-button [text]="'Browse Store'" [svgName]="'store'"></app-pr-ghost-button>
        </a>
    </div>
    <div class="right-side">
        <app-pr-ghost-button [text]="'Basket'" [svgName]="'basket'"></app-pr-ghost-button>
    </div>
</header>
