:host{
    .card {
        background-color: #5e2323;
        grid-column: auto;
        border: 1px transparent;
        transition: 0.3s all;
        border-radius: 5px;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        height: 100%;
        box-shadow: 4px 3px 3px #181616;
        //box-shadow:  4px 3px 3px #4a2020;
        //opacity: 0;
        // animation: cardAppeareance 0.6s ease-in forwards;
        >.wrapper{
            height: 100%;
            display: flex;
            flex-direction: column;
        >.img-wrapper{
            position: relative;
            width:100%;
            height: fit-content;
            transition: all 0.3s;
            >.img{
                width: 100%;
                position: absolute;
                align-self: center;
                height: 100%;
                top: 0;
                left: 0;
                object-fit: cover;
            }
            &:before{
                content: '';
                display: block;
                padding-top: 70%;
            }
        }
        >.rows-wrapp{
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            >.price{
                //width: 100%;
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                justify-content: space-between;
                color: #ccc;
                font-family: GT Light;
                font-size: 16px;
                padding: 15px;
            }
            >.name{
                flex-grow: 1;
                color: white;
                font-family: Sedgwick Ave Display;
                font-size: 24px;
                margin: 0 15px 5px;
                &:not(:first-of-type){
                    margin: 0 15px 5px;
                    font-size: 12px;
                }
            }
            >.name2{
                color: white;
                font-family: Sho;
                font-size: 12px;
                margin: 0 15px 5px;
            }
            >.like{
                width: 25px;
                height: 25px;
                //position: absolute;
                // bottom: 20px;
                // right: 15px;
                margin: auto 15px 10px auto;
                cursor: pointer;
                >svg{
                    height: 25px;
                    width: 25px;
                }
                
                >.likeSVG{
                    transition: fill 0.5s;
                    fill: rgb(204, 204, 204);
                }
                &:hover{
                    >.likeSVG{
                        fill: red;
                    }
                }
            }
        }
    }

        &:hover{
            background-color: #892c2c;
            transform: scale(1.015);
            >.wrapper{
                >.img-wrapper {
                    transform: scale(1.05);
                }
            }
        }
    }
}
@keyframes cardAppeareance {
    0% {
      opacity: 0;
      transform: translateY(40%);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

@media screen and (max-width: 1700px) {
    .name {
        padding-right: 20px;
    }
}

@media screen and (max-width: 1240px) {
    .name {
        font-size: 30px;
    }
}

@media screen and (max-width: 975px) {
    .name {
        font-size: 25px;
    }
}

@media screen and (max-width: 840px) {
    .name {
        font-size: 22px;
    }
}

@media screen and (max-width: 770px) {
    .name {
        font-size: 30px;
    }
}

@media screen and (max-width: 600px) {
    .name {
        font-size: 40px;
    }

    .card img {
        width: 100%;
    }
}

@media screen and (max-width: 475px) {
    .name {
        font-size: 34px;
    }
}

@media screen and (max-width: 375px) {
    .name {
        font-size: 26px;
    }
}