/* You can add global styles to this file, and also import other style files */
// @import url('./styles/reset.scss');
@import '~src/styles/main.scss';

@font-face {
    font-family: "GT Bold";
    src: local("GT Bold"),
     url('../src/app/Resources/fonts/walsheim/GTWalsheimPro-CondensedBold.ttf') format("truetype");
}


body {
    margin: 0;
    background: #0f1011;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  @font-face {
    font-family: "GT Medium";
    src: local("GT Medium"),
    url('./app/Resources//fonts/walsheim/GTWalsheimPro-Medium.ttf') format("truetype");
  }
  
  @font-face {
    font-family: "GT Regular";
    src: local("GT Regular"),
     url('./app/Resources//fonts/walsheim/GTWalsheimPro-Regular.ttf') format("truetype");
  }
  
  @font-face {
    font-family: "GT Light";
    src: local("GT Light"),
     url('./app/Resources//fonts/walsheim/GTWalsheimPro-Light.ttf') format("truetype");
  }
  
  @font-face {
    font-family: "GT Bold";
    src: local("GT Bold"),
     url('./app/Resources//fonts/walsheim/GTWalsheimPro-Bold.ttf') format("truetype");
  }
  
  @font-face {
    font-family: "GT Ultrabold";
    src: local("GT Ultrabold"),
     url('./app/Resources//fonts/walsheim/GTWalsheimPro-UltraBold.ttf') format("truetype");
  }